* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-size: .14rem;
}

html,
body,
.wrap {
    width: 100%;
    height: 100%;
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	position: relative;
}

.header {
    width: 100%;
    height: .5rem;
	position: absolute;
	top:0;
	left:0;
	background: #fff;
}
.header sea {
    width: 80%;
    height: .35rem;
	line-height: .35rem;
    margin-left: 10%;
    margin-top: .1rem;
}


.header input {
    width: 80%;
    height: .35rem;
	line-height: .35rem;
    margin-left: 10%;
    margin-top: .1rem;
	
}
.header .mui-input-clear{
	line-height: .35rem;
}

.section {
    flex: 1;
    overflow: hidden;
	margin-top: .5rem;
}


.footer {
    width: 100%;
    height: .5rem;
    border-top: 1px solid #ccc;
	position: absolute;
	bottom:0;
	left:0;
	z-index: 99;
	background: #fff;
}

.footer ul {
	width: 100%;
	height: .5rem;
    display: flex;
	align-items: center;
    justify-content: space-around;
}
.banner{
	height:.5rem;
}
.banner-sid{
	width:30%;
	height:auto;
}

.banner-sid img{
	width:30%;
	height:auto;
}
p{
	width: 100%;
	height: auto;
}
p img{
	width: 100%;
	height: auto;
}